
* {
    webkitboxsizing:borderbox;/* Safari/Chrome, other WebKit */
    mozboxsizing:borderbox;/* Firefox, other Gecko */
    msboxsizing:borderbox;/* IE */
	box-sizing: border-box;
    color: #747775;
}

hr {
    width: 100%;
    background-color: #747775;
    height: 5px;
}

img {
    border-radius: 10px;
    width: 97%;
    height: auto;
}

h1 {
    font: 100 50px 'Lato', sans-serif;
    margin: 15px 0px 15px 0px;
    text-transform: uppercase;
    text-align: right;
    padding: 15px;
}

h2 {
    font: 400 35px 'Lato', sans-serif;
    margin: 0px 0px 10px 2px;
    padding: 20px;
    color: #BCBBBB;
    text-transform: uppercase;
}

h3 {
    font: 400 15px 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: right;
    padding: 15px;
}

h4 {
    font: 300 15px 'Lato', sans-serif;
}

.logo {
    width: 100px;
    height: auto;
}

.work {
    text-align: center;
}

/* Creates the grid, rows and columns*/
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 96.66%;
}

.col-12 {
    width: 100%;
}

/* Uses a media querie to make the page accessable to all devices*/
@media only screen and ( max-width: 700px) {
    .col-4 {
        min-width: 300px;
        display: table-row;
    }
}


