
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    color: #747775;
}

hr {
    width: 100%;
    background-color: #747775;
    height: 5px;
}

img {
    border-radius: 10px;
    width: 98%;
    height: auto;
    margin: 0 1% 0 1%;
}

h1 {
    font: 100 50px "Lato", sans-serif;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    text-align: right;
    padding: 15px;
}

h2 {
    font: 400 35px "Lato", sans-serif;
    margin: 0 0 10px 2px;
    padding: 20px;
    color: #bcbbbb;
    text-transform: uppercase;
}

h3 {
    font: 400 15px "Lato", sans-serif;
    text-transform: uppercase;
    text-align: right;
    padding: 15px;
}

h4 {
    font: 300 15px "Lato", sans-serif;
}

/* Content*/
.logo {
    width: 100px;
    height: auto;
}

.work {
    text-align: center;
    min-width: 300px;
}

/* Styles the grid and row and makes the row responsive to different devices. */
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.row-end {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}